body {
  background-image: url("NFL_DRAFT.jpg");
  background-attachment: fixed; 
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.jumbotron {
    background-color: rgb(5, 5, 190);
    color: rgb(7, 7, 7);
    border: 2px solid black;
    margin: 60px;
    padding: 60px;
    text-align: center;
  }

  button {
    border-radius: 12px;
  }

  h2 {
    text-align: center;
  }



.card {
  background-color:cornflowerblue;
}
